.trophy-outer-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    /* background-color: aqua; */
}
.trophy-container {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: green; */
}
.trophy-image {
    position: absolute;
    width: 90px;
    height: 110px;
    bottom: 20px;
    right: 20px;
    /* border: 1px solid red */
}